
<nav class="navbar navbar-default" style="width:850px; float:right; margin-top:-360px; background-color: springgreen; color:white;">
    <div class="container-fluid">
     
      <ul class="nav navbar-nav">
            <li ><a href="#!/profile">Profile</a></li>
        <li style=" border-left: 1px solid white;"><a href="#!/projects">Projects</a></li>
        <li style=" border-left: 1px solid white;"><a href="#">Photos</a></li>
        <li style=" border-left: 1px solid white;"><a href="#">Friends</a></li>
        <li style=" border-left: 1px solid white;"><a href="#">Groups</a></li>
       
      </ul>
    </div>
  </nav>